@model WebApplication1.Models.UserEntity
@{
    ViewData["Title"] = "Giriş";
}

<div class="card-premium mx-auto" style="max-width:400px;">

    <h3 class="mb-4 text-center">Giriş Yap</h3>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <form method="post">
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Şifre</label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Giriş Yap
        </button>
    </form>

</div>
