@model WebApplication1.Models.UserEntity
<h2>Giriş Yap</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <br />
    <button type="submit">Giriş Yap</button>
</form>

@if (ViewBag.Error != null)
{
    <div style="color:red">
        @ViewBag.Error
    </div>
}


<a href="/Auth/Register">Kayıt Ol</a>
