@model WebApplication1.Models.UserEntity

<h2>Kayıt Ol</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<form method="post">
    <div>
        <label>Kullanıcı Adı</label>
        <input asp-for="Username" class="form-control" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div>
        <label>Şifre</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-success">Kayıt Ol</button>
</form>

<a href="/Auth/Login">Zaten hesabım var</a>
