@model WebApplication1.Models.NameEntity

<h2>Yeni İsim Ekle</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<form method="post">
    <div>
        <label>İsim</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
