@model WebApplication1.Models.NameEntity

@{
    ViewData["Title"] = "İsim Düzenle";
}

<div class="container mt-4">

    <h2>İsim Düzenle</h2>

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label class="form-label">İsim</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button class="btn btn-success">Güncelle</button>
        <a asp-action="Index" class="btn btn-secondary">Geri</a>
    </form>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
