@model WebApplication1.Models.NameEntity

<h2>Düzenle</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div>
        <input asp-for="Name" class="form-control" style="max-width:300px" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">Kaydet</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
