@model WebApplication1.Models.HelloViewModel

@{
    ViewData["Title"] = "Hello";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <h1>@Model.Message</h1>
}

<form asp-action="Index" method="post">
    <div>
        <label>Adınız:</label>
        <input name="Name" />
    </div>

    <br />

    <button type="submit">Gönder</button>
</form>

<p>
    Sistem Tarihi:
    <strong>@Model.Date</strong>
</p>
