@model WebApplication1.Models.HelloViewModel

@{
    ViewData["Title"] = "Hello";
}

<h1>@Model.Message</h1>

<form asp-action="Index" method="post">
    <div class="mb-2">
        <label>Adınız:</label><br />
        <input asp-for="Name" class="form-control w-25" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit">Gönder</button>
</form>

<p>
    Sistem Tarihi:
    <strong>@Model.Date</strong>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
