@model WebApplication1.Models.HelloViewModel

@{
    ViewData["Title"] = "Hello";
}

<h1>@Model.Message</h1>

<form asp-action="Index" asp-controller="Hello" method="post">
    <div>
        <label>Adınız:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Gönder</button>
</form>

<p>
    Sistem Tarihi:
    <strong>@Model.Date</strong>
</p>
