@model WebApplication1.Models.HelloViewModel

<h2>@ViewBag.Message</h2>

<form asp-action="Index" method="post">
    @Html.AntiForgeryToken()

    <div style="max-width:300px">
        <input asp-for="Name" class="form-control" placeholder="Adınızı girin" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button class="btn btn-primary mt-2">Gönder</button>
</form>

<hr />

@if (Model.Hellos.Any())
{
    <h4>Kayıtlı İsimler</h4>
    <ul>
        @foreach (var item in Model.Hellos)
        {
            <li>
                @item.Name
                <small>(@item.CreatedAt)</small>
            </li>
        }
    </ul>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
