@model WebApplication1.Models.HelloViewModel

<h1>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        @Model.Message
    }
    else
    {
        <text>Lütfen adınızı girin</text>
    }
</h1>

<form asp-action="Index" asp-controller="Hello" method="post">
    <div>
        <label>Adınız:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Gönder</button>
</form>

<p>
    Sistem Tarihi:
    <strong>@Model.Date</strong>
</p>
