@model List<WebApplication1.Models.ProductEntity>
@using Microsoft.AspNetCore.Http

<h2>Ürünler</h2>

@if (Context.Session.GetString("UserRole") == "Admin")
{
    <a href="/Product/Add" class="btn btn-success mb-3">Yeni Ürün</a>
}

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Ürün</th>
            <th>Fiyat</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price ₺</td>
                <td>
                    @if (Context.Session.GetString("UserRole") == "User")
                    {
                        <a href="/Cart/Add?productId=@item.Id" class="btn btn-primary btn-sm">
                            Sepete Ekle
                        </a>
                    }

                    @if (Context.Session.GetString("UserRole") == "Admin")
                    {
                        <a href="/Product/Delete/@item.Id" class="btn btn-danger btn-sm">
                            Sil
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
