@using SatisSitesi.Models.Entities
@using Microsoft.Extensions.Localization
@using SatisSitesi.Resources
@inject IStringLocalizer<SharedResource> Localizer
@model NameEntity
@{
    ViewData["Title"] = Localizer["Add_New_Name"];
}

<h2>@Localizer["Add_New_Name"]</h2>

<form asp-action="Add" method="post">
    <div>
        <label>@Localizer["Name_Input"]</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-success">@Localizer["Save"]</button>
</form>

<div asp-validation-summary="All" class="text-danger"></div>
