@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Toplam İsim</h4>
            <h2>@ViewBag.TotalNames</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Bugün Eklenen</h4>
            <h2>@ViewBag.TodayAdded</h2>
			<h4>Selam</h4>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Teknolojiler</h4>
            <ul>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>SQL Server</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>

</div>
